@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body {
  height: 100%;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  
  /* Margin bottom by footer height */
  margin: 0;

  color: #07374a;}

  /* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden; /* koristi se kad nam nesto prevazilazi duzinu diva da bude skriveno umesto da se pojavi scroll bar */
}

header {
  background-color:   #F5F5DC;
  color: #ffffff;
  padding: 20px;
  min-height:90px;
 
  
}

header a {
  color: #07374a;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}


header li {
  float: left;
  display: inline;
  padding: 0 12px 0 12px; /* top right bottom left */
}

header #branding{
  float: left;

}

header #branding img {
  height: 60px;
  width: 60px;
  margin: 15px;
}

header nav {
  float:right;
  padding: 20px;
}

header .highlight, header .current a{
  color: #00adee;
  font-weight: bold;
}

header a:hover {
  color: #7FDBFF;
  font-weight: bold;
}

.reg_link{
  
  margin-left: 40px;
}





.footer {
    position: static;
    bottom: 0;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-bottom: 0;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #07374a;
  color: #f0f0e6; }

.footer p{
  text-align: center;
  margin-top: 20px;
  
}
.footer hr{
  width: 50%;
}


@import url("https://fonts.googleapis.com/css?family=Roboto");

#welcome{
  
  background: url('../img/bg1.jpg') ;
  background-size: cover;
  height: 600px;
  width: 100%;
  text-align: center;
  display: flex;
  font-weight: thick;
}

#popular h1{
  text-align: center;
  margin-top: 50px;

}

.grid-4{
  width: 24%;
  display: inline-block;
}

.popular-city a{

  color: #07374a;
}

.popular-city{
  margin-top: 30px;
   margin-bottom: 100px;
   text-align: center;
}
.small-hr{
  width: 50%;
  margin-top:20px;
  margin-bottom:20px;
}

.centerMe {
  margin: auto;
  padding-bottom: 100px;

}

::-webkit-input-placeholder {
  color: #FCD5D3;
}

.cta {
  margin: auto;
  background: #fff;
  font-weight: bold;
  border-radius: 25px;
  line-height: 50px;
  height: 50px;
  width: 170px;
  text-align: center;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.cta .hide {
  display: none;
}
.cta form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cta span {

  color: #00adee;
  opacity: 0;
  width: 100%;
  text-align: center;
  -webkit-animation: fadeIn .3s ease-in-out;
          animation: fadeIn .3s ease-in-out;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.cta .input {
  display: none;
  opacity: 0;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: left;
}
.cta .input input {
  border: 0;
  width: 240px;
  height: 45px;
  margin: 0 0 0 25px;
  outline: none;
  color: #00adee;
}
.cta .button {
  display: none;
  opacity: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.cta .button button {
  outline: none;
  float: right;
  padding: 0 15px;
  height: 40px;
  background: #00adee;
  border-radius: 25px;
  color: white;
  border: 0;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.cta .button button:disabled {
  color: #AAAAAA;
  opacity: .8;
}
.cta.sent {
  cursor: default;
}
.cta.active {
  width: 350px;
  text-align: left;
  -webkit-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
  cursor: default;
}
.cta.active span {
  display: none;
}
.cta.active .input, .cta.active .button {
  display: block;
  -webkit-animation: fadeIn .3s ease-in-out;
          animation: fadeIn .3s ease-in-out;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    grey;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    grey;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    grey;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    grey;
}


/* ToolTIp */
/* setup tooltips */
.tooltip {
  position: relative;
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.tooltip:after {
  
}
.tooltip:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
    top: 56px;
  white-space: nowrap;
}

/* swing */
.tooltip.swing:before,
.tooltip.swing:after {
  transform: translate3d(0,30px,0) rotate3d(0,0,1,60deg);
  transform-origin: 0 0;
  transition: transform .15s ease-in-out, opacity .2s;
}
.tooltip.swing:after {
  transform: translate3d(0,120px,0);
  transition: transform .15s ease-in-out, opacity .2s;
}
.tooltip.swing:hover:before,
.tooltip.swing:hover:after {
  opacity: 1;
  transform: translate3d(0,0,0) rotate3d(1,1,1,0deg);
}


#about{
  height: 620px;
  background-color:   #F5F5DC;
  width: 100%;
}


.about-text{
  float: left;
  margin-top: 100px;
 
  width: 40%;
}

#about img{
  float: right;
  width: 50%;
  margin-top: 100px;
}

#about hr{
  margin-top: 50px;
  width: 80%;
}

#mobile{
  height: 620px;
  background-color:   #F5F5DC;
  width: 100%;
}

.mobile-text{
  float: right;
  margin-top: 100px;
 
  width: 40%;
}

#mobile img{
  float: left;
  width: 50%;
  margin-top: 100px;
}